* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 200px;
  font-weight: bold;
  color: #2F4C39;
  margin-top: 0;
  font-size: 35px;
}

h3 {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: #75655A;
  margin-top: 0;
  font-size: 25px;
}

h2 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
  text-align: center;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background: #E9C9AA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  background: #d1feb8;
  border: 4px solid #D3C7A2;
  border-radius: 10px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 190px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 190px;
}

.restartbtn {
  background-color: wheat;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 6px;
  border: 4px solid burlywood;
}
.restartbtn:hover {
  background-color: burlywood;
  border: 4px solid wheat
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
